<app-header />
<main class="main">
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user
          [user]="user"
          (select)="onSelectedUser($event)"
          [selectedUser]="user.id === selectedUserId"
        />
      </li>
    }
  </ul>

  @if (selectedUser) {
    <app-tasks
      [name]="selectedUser ? selectedUser.name : ''"
      [userId]="selectedUser.id"
    />
  } @else {
    <p class="fallback">Select a user to see their tasks!</p>
  }
</main>
